<div class="sidebar-wrapper">

  <ul>
    <li  class="sidebar-row" > <i class="fas fa-user"></i> &nbsp;Edit profile </li>
    <li class="sidebar-row" > <i class="fas fa-user-friends"></i> &nbsp; Friends </li>
    <li class="sidebar-row" > <i class="fas fa-comment-alt"></i> &nbsp; Messages </li>
    <li class="sidebar-row" > <i class="fas fa-bell"></i> &nbsp;Notification</li>
    <li class="sidebar-row"> <i class="fas fa-users"></i> &nbsp; Groups </li>
    <li class="sidebar-row"> <i class="fas fa-user-friends"></i> &nbsp; Friend List</li>
    <li class="sidebar-row"> <i class="fas fa-bell"></i> &nbsp; Friend Request </li>
    <li class="sidebar-row"> <i class="fas fa-bookmark"></i> &nbsp; Saved </li>
    
  </ul>

</div>