/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/s2.jpg");
}

* {
  margin: 0;
  padding: 0;
}

.sidebar-wrapper {
  padding: 10px;
  background-color: #F0F2F5;
  min-height: 100vh;
}